<html>
    <body>
        <h1>Book here</h1><br>
        <a href="/hmpg"><button>Go back</button></a>
        <form action="/book" method="post">
            <label for="state">Find by state:</label>
            <input name="state" id="state" type="text">
            <input type="submit" value="search">
        </form>
        <table border="2" style="width: 100%;">
            <tr>
                <td><b>State</b></td>
                <td><b>City</b></td>
                <td><b>Available Spots</b></td>
                <td><b>Book</b></td>
            </tr>
            {% for row in rows %}
            <tr>
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td><a href="/book/{{row[3]}}"><button>Book</button></a></td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>