<html>
    <body>
        <table border="2">
            <tr><td><a href="/revstate"><button>Check Revenue State-wise</button></a></td></tr>
            <tr><td><a href="/revcities"><button>Check Revenue City-wise</button></a></td></tr>
            <tr><td><a href="/history"><button>User-based History</button></a></td></tr>
            <tr><td><a href="/bookedadmin"><button>Check Currently Booked History</button></a></td></tr>
            <tr><td><a href="/logout"><button>Logout</button></a></td></tr>
            <tr><td>Currently Available Spots: {{avail}}</td></tr>
        </table>
    </body>
</html>