<html>
    <body>
        <table border="2">
            <tr><td><a href="/book"><button>Book Here</button></a></td></tr>
            <tr><td><a href="/rel"><button>Release Booked Spots Here</button></a></td></tr>
            <tr><td><a href="/logout"><button>Logout</button></a></td></tr>
            <tr><td><a href="/history"><button>Previously Booked Spots</button></a></td></tr>
            <tr><td><a href="/refillwallet"><button>Add to Wallet</button></a></td></tr>
            <tr><td>Currently Available Spots: {{avail}}</td></tr>
            <tr><td>Wallet Balance: {{wallet}}</td></tr>
        </table>
    </body>
</html>