<html>
    <title>Home</title>
    <body>
        <table border="2" style="text-align: center;">
            <tr>
                <td><a href="/login"><button>Login Here</button></a></td>
                <td><a href="/register"><button>Register Here</button></a></td>
                <td><a href="/hmpg"><button>Go to Homepage</button></a></td>
            </tr>
            <tr>
                <td colspan="3">Currently Available Spots {{avail}}</td>
            </tr>
        </table>
    </body>
</html>
